client/src/main/java/proxy/proxyUser/user.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Controllers.cooolab.management.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Controllers.cooolab.management.com/" name="UserControllerService">
<types>
<xsd:schema>
<xsd:import namespace="http://Controllers.cooolab.management.com/" schemaLocation="http://127.0.0.1:8091/user?xsd=1"/>
</xsd:schema>
</types>
<message name="ShowUserDemandeConge">
<part name="parameters" element="tns:ShowUserDemandeConge"/>
</message>
<message name="ShowUserDemandeCongeResponse">
<part name="parameters" element="tns:ShowUserDemandeCongeResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="SaveUser">
<part name="parameters" element="tns:SaveUser"/>
</message>
<message name="SaveUserResponse">
<part name="parameters" element="tns:SaveUserResponse"/>
</message>
<message name="ListUser">
<part name="parameters" element="tns:ListUser"/>
</message>
<message name="ListUserResponse">
<part name="parameters" element="tns:ListUserResponse"/>
</message>
<message name="ListUsers">
<part name="parameters" element="tns:ListUsers"/>
</message>
<message name="ListUsersResponse">
<part name="parameters" element="tns:ListUsersResponse"/>
</message>
<message name="EditUser">
<part name="parameters" element="tns:EditUser"/>
</message>
<message name="EditUserResponse">
<part name="parameters" element="tns:EditUserResponse"/>
</message>
<message name="UpdateUser">
<part name="parameters" element="tns:UpdateUser"/>
</message>
<message name="UpdateUserResponse">
<part name="parameters" element="tns:UpdateUserResponse"/>
</message>
<message name="DeleteUser">
<part name="parameters" element="tns:DeleteUser"/>
</message>
<message name="DeleteUserResponse">
<part name="parameters" element="tns:DeleteUserResponse"/>
</message>
<message name="ShowUser">
<part name="parameters" element="tns:ShowUser"/>
</message>
<message name="ShowUserResponse">
<part name="parameters" element="tns:ShowUserResponse"/>
</message>
<portType name="User">
<operation name="ShowUserDemandeConge">
<input wsam:Action="http://Controllers.cooolab.management.com/User/ShowUserDemandeCongeRequest" message="tns:ShowUserDemandeConge"/>
<output wsam:Action="http://Controllers.cooolab.management.com/User/ShowUserDemandeCongeResponse" message="tns:ShowUserDemandeCongeResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://Controllers.cooolab.management.com/User/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://Controllers.cooolab.management.com/User/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="SaveUser">
<input wsam:Action="http://Controllers.cooolab.management.com/User/SaveUserRequest" message="tns:SaveUser"/>
<output wsam:Action="http://Controllers.cooolab.management.com/User/SaveUserResponse" message="tns:SaveUserResponse"/>
</operation>
<operation name="ListUser">
<input wsam:Action="http://Controllers.cooolab.management.com/User/ListUserRequest" message="tns:ListUser"/>
<output wsam:Action="http://Controllers.cooolab.management.com/User/ListUserResponse" message="tns:ListUserResponse"/>
</operation>
<operation name="ListUsers">
<input wsam:Action="http://Controllers.cooolab.management.com/User/ListUsersRequest" message="tns:ListUsers"/>
<output wsam:Action="http://Controllers.cooolab.management.com/User/ListUsersResponse" message="tns:ListUsersResponse"/>
</operation>
<operation name="EditUser">
<input wsam:Action="http://Controllers.cooolab.management.com/User/EditUserRequest" message="tns:EditUser"/>
<output wsam:Action="http://Controllers.cooolab.management.com/User/EditUserResponse" message="tns:EditUserResponse"/>
</operation>
<operation name="UpdateUser">
<input wsam:Action="http://Controllers.cooolab.management.com/User/UpdateUserRequest" message="tns:UpdateUser"/>
<output wsam:Action="http://Controllers.cooolab.management.com/User/UpdateUserResponse" message="tns:UpdateUserResponse"/>
</operation>
<operation name="DeleteUser">
<input wsam:Action="http://Controllers.cooolab.management.com/User/DeleteUserRequest" message="tns:DeleteUser"/>
<output wsam:Action="http://Controllers.cooolab.management.com/User/DeleteUserResponse" message="tns:DeleteUserResponse"/>
</operation>
<operation name="ShowUser">
<input wsam:Action="http://Controllers.cooolab.management.com/User/ShowUserRequest" message="tns:ShowUser"/>
<output wsam:Action="http://Controllers.cooolab.management.com/User/ShowUserResponse" message="tns:ShowUserResponse"/>
</operation>
</portType>
<binding name="UserPortBinding" type="tns:User">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ShowUserDemandeConge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SaveUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ShowUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserControllerService">
<port name="UserPort" binding="tns:UserPortBinding">
<soap:address location="http://127.0.0.1:8091/user"/>
</port>
</service>
</definitions>