client/src/main/java/proxy/proxyDepartment/department.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Controllers.cooolab.management.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Controllers.cooolab.management.com/" name="DepartmentControllerService">
<types>
<xsd:schema>
<xsd:import namespace="http://Controllers.cooolab.management.com/" schemaLocation="http://127.0.0.1:8091/department?xsd=1"/>
</xsd:schema>
</types>
<message name="SaveDepartment">
<part name="parameters" element="tns:SaveDepartment"/>
</message>
<message name="SaveDepartmentResponse">
<part name="parameters" element="tns:SaveDepartmentResponse"/>
</message>
<message name="DeleteDepartment">
<part name="parameters" element="tns:DeleteDepartment"/>
</message>
<message name="DeleteDepartmentResponse">
<part name="parameters" element="tns:DeleteDepartmentResponse"/>
</message>
<message name="ListDepartments">
<part name="parameters" element="tns:ListDepartments"/>
</message>
<message name="ListDepartmentsResponse">
<part name="parameters" element="tns:ListDepartmentsResponse"/>
</message>
<message name="AddDepartment">
<part name="parameters" element="tns:AddDepartment"/>
</message>
<message name="AddDepartmentResponse">
<part name="parameters" element="tns:AddDepartmentResponse"/>
</message>
<message name="EditDepartment">
<part name="parameters" element="tns:EditDepartment"/>
</message>
<message name="EditDepartmentResponse">
<part name="parameters" element="tns:EditDepartmentResponse"/>
</message>
<message name="UpdateDepartment">
<part name="parameters" element="tns:UpdateDepartment"/>
</message>
<message name="UpdateDepartmentResponse">
<part name="parameters" element="tns:UpdateDepartmentResponse"/>
</message>
<message name="showDepartment">
<part name="parameters" element="tns:showDepartment"/>
</message>
<message name="showDepartmentResponse">
<part name="parameters" element="tns:showDepartmentResponse"/>
</message>
<message name="showDepartmentUsers">
<part name="parameters" element="tns:showDepartmentUsers"/>
</message>
<message name="showDepartmentUsersResponse">
<part name="parameters" element="tns:showDepartmentUsersResponse"/>
</message>
<portType name="Department">
<operation name="SaveDepartment">
<input wsam:Action="http://Controllers.cooolab.management.com/Department/SaveDepartmentRequest" message="tns:SaveDepartment"/>
<output wsam:Action="http://Controllers.cooolab.management.com/Department/SaveDepartmentResponse" message="tns:SaveDepartmentResponse"/>
</operation>
<operation name="DeleteDepartment">
<input wsam:Action="http://Controllers.cooolab.management.com/Department/DeleteDepartmentRequest" message="tns:DeleteDepartment"/>
<output wsam:Action="http://Controllers.cooolab.management.com/Department/DeleteDepartmentResponse" message="tns:DeleteDepartmentResponse"/>
</operation>
<operation name="ListDepartments">
<input wsam:Action="http://Controllers.cooolab.management.com/Department/ListDepartmentsRequest" message="tns:ListDepartments"/>
<output wsam:Action="http://Controllers.cooolab.management.com/Department/ListDepartmentsResponse" message="tns:ListDepartmentsResponse"/>
</operation>
<operation name="AddDepartment">
<input wsam:Action="http://Controllers.cooolab.management.com/Department/AddDepartmentRequest" message="tns:AddDepartment"/>
<output wsam:Action="http://Controllers.cooolab.management.com/Department/AddDepartmentResponse" message="tns:AddDepartmentResponse"/>
</operation>
<operation name="EditDepartment">
<input wsam:Action="http://Controllers.cooolab.management.com/Department/EditDepartmentRequest" message="tns:EditDepartment"/>
<output wsam:Action="http://Controllers.cooolab.management.com/Department/EditDepartmentResponse" message="tns:EditDepartmentResponse"/>
</operation>
<operation name="UpdateDepartment">
<input wsam:Action="http://Controllers.cooolab.management.com/Department/UpdateDepartmentRequest" message="tns:UpdateDepartment"/>
<output wsam:Action="http://Controllers.cooolab.management.com/Department/UpdateDepartmentResponse" message="tns:UpdateDepartmentResponse"/>
</operation>
<operation name="showDepartment">
<input wsam:Action="http://Controllers.cooolab.management.com/Department/showDepartmentRequest" message="tns:showDepartment"/>
<output wsam:Action="http://Controllers.cooolab.management.com/Department/showDepartmentResponse" message="tns:showDepartmentResponse"/>
</operation>
<operation name="showDepartmentUsers">
<input wsam:Action="http://Controllers.cooolab.management.com/Department/showDepartmentUsersRequest" message="tns:showDepartmentUsers"/>
<output wsam:Action="http://Controllers.cooolab.management.com/Department/showDepartmentUsersResponse" message="tns:showDepartmentUsersResponse"/>
</operation>
</portType>
<binding name="DepartmentPortBinding" type="tns:Department">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SaveDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListDepartments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showDepartment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showDepartmentUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DepartmentControllerService">
<port name="DepartmentPort" binding="tns:DepartmentPortBinding">
<soap:address location="http://127.0.0.1:8091/department"/>
</port>
</service>
</definitions>