client/src/main/java/proxy/proxyDemandeConge/demandeConge.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Controllers.cooolab.management.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Controllers.cooolab.management.com/" name="DemandeCongeControllerService">
<types>
<xsd:schema>
<xsd:import namespace="http://Controllers.cooolab.management.com/" schemaLocation="http://127.0.0.1:8091/demandeConge?xsd=1"/>
</xsd:schema>
</types>
<message name="SaveDemandeConge">
<part name="parameters" element="tns:SaveDemandeConge"/>
</message>
<message name="SaveDemandeCongeResponse">
<part name="parameters" element="tns:SaveDemandeCongeResponse"/>
</message>
<message name="updateLeaveRequestStatus">
<part name="parameters" element="tns:updateLeaveRequestStatus"/>
</message>
<message name="updateLeaveRequestStatusResponse">
<part name="parameters" element="tns:updateLeaveRequestStatusResponse"/>
</message>
<message name="ListMesDemandesConges">
<part name="parameters" element="tns:ListMesDemandesConges"/>
</message>
<message name="ListMesDemandesCongesResponse">
<part name="parameters" element="tns:ListMesDemandesCongesResponse"/>
</message>
<message name="ListDepartementConges">
<part name="parameters" element="tns:ListDepartementConges"/>
</message>
<message name="ListDepartementCongesResponse">
<part name="parameters" element="tns:ListDepartementCongesResponse"/>
</message>
<message name="AddDemandeConge">
<part name="parameters" element="tns:AddDemandeConge"/>
</message>
<message name="AddDemandeCongeResponse">
<part name="parameters" element="tns:AddDemandeCongeResponse"/>
</message>
<message name="ListDemandesConges">
<part name="parameters" element="tns:ListDemandesConges"/>
</message>
<message name="ListDemandesCongesResponse">
<part name="parameters" element="tns:ListDemandesCongesResponse"/>
</message>
<message name="DeleteDemandeConge">
<part name="parameters" element="tns:DeleteDemandeConge"/>
</message>
<message name="DeleteDemandeCongeResponse">
<part name="parameters" element="tns:DeleteDemandeCongeResponse"/>
</message>
<message name="EditDemandeConge">
<part name="parameters" element="tns:EditDemandeConge"/>
</message>
<message name="EditDemandeCongeResponse">
<part name="parameters" element="tns:EditDemandeCongeResponse"/>
</message>
<message name="UpdateDemandeConge">
<part name="parameters" element="tns:UpdateDemandeConge"/>
</message>
<message name="UpdateDemandeCongeResponse">
<part name="parameters" element="tns:UpdateDemandeCongeResponse"/>
</message>
<portType name="DemandeConge">
<operation name="SaveDemandeConge">
<input wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/SaveDemandeCongeRequest" message="tns:SaveDemandeConge"/>
<output wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/SaveDemandeCongeResponse" message="tns:SaveDemandeCongeResponse"/>
</operation>
<operation name="updateLeaveRequestStatus">
<input wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/updateLeaveRequestStatusRequest" message="tns:updateLeaveRequestStatus"/>
<output wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/updateLeaveRequestStatusResponse" message="tns:updateLeaveRequestStatusResponse"/>
</operation>
<operation name="ListMesDemandesConges">
<input wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/ListMesDemandesCongesRequest" message="tns:ListMesDemandesConges"/>
<output wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/ListMesDemandesCongesResponse" message="tns:ListMesDemandesCongesResponse"/>
</operation>
<operation name="ListDepartementConges">
<input wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/ListDepartementCongesRequest" message="tns:ListDepartementConges"/>
<output wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/ListDepartementCongesResponse" message="tns:ListDepartementCongesResponse"/>
</operation>
<operation name="AddDemandeConge">
<input wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/AddDemandeCongeRequest" message="tns:AddDemandeConge"/>
<output wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/AddDemandeCongeResponse" message="tns:AddDemandeCongeResponse"/>
</operation>
<operation name="ListDemandesConges">
<input wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/ListDemandesCongesRequest" message="tns:ListDemandesConges"/>
<output wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/ListDemandesCongesResponse" message="tns:ListDemandesCongesResponse"/>
</operation>
<operation name="DeleteDemandeConge">
<input wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/DeleteDemandeCongeRequest" message="tns:DeleteDemandeConge"/>
<output wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/DeleteDemandeCongeResponse" message="tns:DeleteDemandeCongeResponse"/>
</operation>
<operation name="EditDemandeConge">
<input wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/EditDemandeCongeRequest" message="tns:EditDemandeConge"/>
<output wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/EditDemandeCongeResponse" message="tns:EditDemandeCongeResponse"/>
</operation>
<operation name="UpdateDemandeConge">
<input wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/UpdateDemandeCongeRequest" message="tns:UpdateDemandeConge"/>
<output wsam:Action="http://Controllers.cooolab.management.com/DemandeConge/UpdateDemandeCongeResponse" message="tns:UpdateDemandeCongeResponse"/>
</operation>
</portType>
<binding name="DemandeCongePortBinding" type="tns:DemandeConge">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SaveDemandeConge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateLeaveRequestStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListMesDemandesConges">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListDepartementConges">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AddDemandeConge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListDemandesConges">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DeleteDemandeConge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditDemandeConge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="UpdateDemandeConge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DemandeCongeControllerService">
<port name="DemandeCongePort" binding="tns:DemandeCongePortBinding">
<soap:address location="http://127.0.0.1:8091/demandeConge"/>
</port>
</service>
</definitions>